/* stylelint-disable selector-list-comma-newline-after */


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


.imgStyle{
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.imgStyle h1{
  color: #F0EB8D;
  text-align: left; 
font-family: Arial Black; 
font-weight: bold; 
font-size: 30px; 
color: #fff; 
text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

.imgStyle p{
  color: #F0EB8D;

}

.responsiveImgC{
  width :250px;
  height: 250px; 
  object-fit: cover;
}

 /* Firefox */
 * {
  scrollbar-width: auto;
  scrollbar-color: #613583 #deddda;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  
}

*::-webkit-scrollbar-track {
  background: #241f31;
}

*::-webkit-scrollbar-thumb {
  background-color: #613583;
  border-radius: 0px;
  border: 5px dashed #241f31;
}


body{
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #2D2727;
}

#title{
	    text-align: center;
      line-height: 5rem;
	    color: #fcedd8;
	   	font-family: 'Niconne', cursive; 
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939, 
                  30px 30px 0px #c11a2b, 
                  35px 35px 0px #c11a2b, 
                  40px 40px 0px #c11a2b, 
                  45px 45px 0px #c11a2b;
}

#skilletTitle{
  color: #F0EB8D;
  font-size: 200%;
  font-weight: bolder;
  text-decoration: none;
}


#btnIngreso{
  color: #F0EB8D;
  font-size: 150%;
  border-color: #F0EB8D;
  font-weight: bolder;
}

#albumsList{
  font-weight: bolder;
  color: #8F43EE;
  font-size: 120%;
  text-decoration: none;
}

#cards, #section, #cardAside, #footer{
  background-color:#241f31;
}

#cards h3{
  color:#8F43EE;
  font-family: 'Times New Roman', Times, serif;
}

#cards p{
  color: #F0EB8D;
}

#section h3, h2{
  font-size: 160%;
  color:#8F43EE;
}

#section h6{
  color: #F0EB8D;
}

#section p{
  color: #F6E1C3;
}

#tablita tbody th{
  color: #F6E1C3;
}

#tablita thead{
  color:#8F43EE;
  background-color: #2D2727;
}

#tablita tbody th{
  color: #F6E1C3;
}

#tablita tfoot{
  color:#8F43EE;
  background-color: #2D2727;
}

#monochrome{
  background-color: #2D2727;
}

#listFunFacts{
  color: #F0EB8D;
}

#cardAside h3, #listAside h3{
  color:#8F43EE;
}

#cardAside p{
  color:#F6E1C3;
}

#listAside ol li a{
  color:#F6E1C3;
  text-decoration:underline;

}

#footer p{
  color:#F6E1C3;
}

#footer p a{
  color:#F0EB8D;
  text-decoration:underline;

}